body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #fffbcc; /* Light yellow background */
    color: #333; /* Dark text */
}

/* Main content styling*/
main {
    width: 80%;
    max-width: 960px; /* Maximum width for the middle box */
    margin: 120px auto;
    padding: 20px;
    background-color: #fff; /* White background*/
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 12px; /* Creates rounded corners */
}

main h1, main h2 {
    text-align: center; /* Centering headings */
    color: #333;
}

/* Creates a list style for the team members*/
.team ul {
    list-style-type: none;
    padding: 0;
}

.team li {
    text-align: center; /* Centers the team members' names */
    padding: 5px;
    font-size: 1.2em;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000000;
    color: white;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
}